@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section meta
{
   <link rel="stylesheet" href="/assets/css/custom.css" media="all" />
}
<div class="breadcrumb1">
    <partial name="~/Views/common/AltC.cshtml" />
    <div class="wrap2 mx-auto px-3 px-md-4 px-lg-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item breadHome"><a href="@Url.Content("/")">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">寫信給我們</li>
                <li class="breadcrumb-item active" aria-current="page">認證信已寄送</li>
            </ol>
        </nav>
    </div>
</div>
<div class="wrap4 mx-auto px-3 px-md-4 px-lg-5 py-4 py-md-5 bg-white rounded-4 mb-5">
    <!-- 內容主標 -->
    <div class="row wrap5">
        <div class="step_main d-flex wrap5 flex-wrap">
            <div class="step_list  d-flex align-items-center col-12 col-sm-6 col-lg-4 pb-4">
                <div class="Step1 ">步驟一</div>
                <div class="step fs-5 ps-3">認證電子信箱</div>
            </div>
            <div class="step_list not_yet d-flex align-items-center col-12 col-sm-6 col-lg-4 pb-4">
                <div class="Step2 ">步驟二</div>
                <div class="step fs-5 ps-3">填寫意見內容</div>
            </div>
            <div class="step_list not_yet d-flex align-items-center col-12 col-sm-6 col-lg-4 pb-4">
                <div class="Step3 ">步驟三</div>
                <div class="step fs-5 ps-3">案件成立</div>
            </div>
        </div>
        <div class="mt-3">
            <p>電子信箱認證信已寄送！</p>
            <p>請於2小時內至剛剛填寫的電子信箱接收認證信，並點選「<a href="#" class="text-decoration-underline ">認證信箱</a>」連結進行民意信箱內容填寫。</p>
            <p>Yahoo、Hotmail、PChome 等免費信箱，可能會將本部發出的信件誤認為廣告信件，若您未收到認證信，請至「垃圾郵件」中尋找，並將信件設定為安全名單。 </p>
            <p>若您10分鐘後仍未收到認證信，請再次提出「<a href="#" class="text-decoration-underline ">認證信箱</a>」申請。感謝您！ </p>
            <p class="text-end pt-2 pb-4">數位發展部民意信箱小組 敬啟</p>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        if(getCookie("certification") != "true"){
            SetMsgShowAlertRedirect(2,"","頁面已失效，請重新操作","/");
        }
    </script>
}
